[Unit]
Description=Watchcat Service
After=network.target

[Service]
Type=oneshot
Environment=PATH=<PATH>
Environment=DRYRUN=<DRYRUN>
ExecStart=$PATH/watchcat/scripts/watchcat.sh $DRYRUN

[Install]
WantedBy=default.target
