[Unit]
Description=Watchcat for Devconn Connector
After=docker.service
Requires=docker.service

[Service]
Environment=PATH=<PATH>
ExecStart=/bin/bash -c "docker logs -t -f devconn_connector | sh $PATH/scripts/watchcat_devconn_connector.sh"
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
