[Unit]
Description=Watchcat for OpenVPN DMP Client
After=openvpn-client@dmp.service

[Service]
Environment=INSTALLER_PATH=<INSTALLER_PATH>
ExecStart=/bin/bash -c "sh ${INSTALLER_PATH}/scripts/watchcat_openvpn_dmp_journal.sh | sh ${INSTALLER_PATH}/scripts/watchcat_openvpn_dmp.sh"
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
