[Unit]
Description=Watchcat Service
After=network.target

[Service]
Type=oneshot
Environment=PATH=<PATH>
Environment=DRYRUN=<DRYRUN>
ExecStart=/bin/bash -c "$PATH/scripts/watchcat.sh $DRYRUN"

[Install]
WantedBy=default.target
