[Unit]
Description=Watchcat Service
After=network.target

[Service]
Type=oneshot
Environment=INSTALLER_PATH=<INSTALLER_PATH>
Environment=DRYRUN=<DRYRUN>
ExecStart=/bin/bash -c "${INSTALLER_PATH}/scripts/watchcat.sh ${DRYRUN}"

[Install]
WantedBy=default.target
